html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #e9edf2;*/
}

.centered-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  text-align: center;
}

.spinnerModal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1;
  /* Sit on top */
  overflow: auto;
  background: url("./images/ajax-indicator-circle-ball-blue.gif") no-repeat center fixed;
  background-color: rgba(255,
      255,
      255,
      0.5);
}

.spinnerModal p {
  margin-top: 300px;
}

button {
  background: #2196f3;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  cursor: pointer;
}

button:hover,
button:focus {
  background: #da0b8b;
}

@media screen and (min-width: 600px) {
  .search-wrapper input[type="text"] {
    width: 50%;
  }
}